<div class="container">
    <h1 class="text-center"> Welcome to Eat Da Burger App!!</h1>
    {{#each burgers}}
    {{#unless devoured}}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-right">
                    <p contenteditable="true" id={{this.id}} class="insert-data d-inline">
                        {{this.id}}.{{this.burger_name}}</p>
                    <button type="button" class="delete-data" id={{this.id}}>x</button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button id={{this.id}} class="devour-data btn btn-primary">Devour it</button>
        </div>
    </div>
    {{/unless}}
    {{/each}}

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Devoured!</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                        {{#if devoured}}
                        <li class="list-group-item">{{this.id}}.{{this.burger_name}}</li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="form-group" action="/create" method="POST">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="burger_name" rows="3"
                        required></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
            <p>Enter a burger you wanted to eat ! and click submit button !</p>
        </div>
    </div>
    <script src="/assets/js/burger.js"></script>
</div>